

.table{
  border-radius: 8px;
  height: 35rem;
  overflow: scroll;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #ffff;
}

td, th {
  text-align: center; 
 
}

.highlighted {
  background-color: #ffff99;
}

button {
  background: none; 
  border: none; 
  cursor: pointer; 
}

.material-icons {
  color: red;
  font-size: 24px; 
}

.pesquisa h3{
  color: #ffff;
}

.lista h3{
  color: #ffff;
}



