<div class="app d-flex">
  <div class="sidebar">
    <ul>
      <li>
        <a routerLink="/" routerLinkActive="active">
          <div class="icon-text">
            <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="home"></mat-icon>
            <span>Home</span>
          </div>
       </a>
      </li>
      <li>
        <a routerLink="/adicionar-bairro" routerLinkActive="active"
          >Adicionar Bairro</a
        >
      </li>
      <li>
        <a routerLink="/ver-bairros" routerLinkActive="active">Ver Bairros</a>
      </li>
    </ul>
  </div>
  <div class="main-content">
    <router-outlet></router-outlet>
  </div>
</div>
