h1{
  color: #FFFF;
}

body{
  height: 20%;
}

button.btn {
  background-color: red;
  color: white;          
  border: none;         
  padding: 10px 20px;    
  cursor: pointer;
  margin-top: 10px; 
  text-align: center;
  justify-content: center;
}

button.btn:hover {
  background-color: darkred; 
}

.container{
  text-align: center;
}

.texto-vermelho-vibrante {
  color: #ff0000; 
  font-weight: bold;
  font-size: 1.6rem; 
}
