*{
}


 h1, label{
  color: #FFFF;
}
body {
  background-size: cover;
  background-image: url(https://img.freepik.com/fotos-gratis/vista-superior-comida-deliciosa-com-espaco-de-copia_23-2150873986.jpg?w=1380&t=st=1714170115~exp=1714170715~hmac=09426d3c72ed3e05f00b0be931df4262e93d8c2d1de2ad412e43ba480a0c4b2c);
  background-position: center;
  background-repeat: no-repeat; /* Certifique-se de que a imagem não se repita */
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
